In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

FILE_DIR = os.getenv('FILE_DIR')

In [6]:
import pandas as pd

df = pd.read_csv(f"{FILE_DIR}/wordsim353/combined.csv")
df

           Word 1    Word 2  Human (mean)
0            love       sex          6.77
1           tiger       cat          7.35
2           tiger     tiger         10.00
3            book     paper          7.46
4        computer  keyboard          7.62
..            ...       ...           ...
348        shower     flood          6.03
349       weather  forecast          8.34
350      disaster      area          6.25
351      governor    office          6.34
352  architecture   century          3.78

[353 rows x 3 columns]

In [3]:
from importnb import imports

with imports("ipynb"):
  from knock60 import model

In [4]:
def calc_similarity(df: pd.DataFrame):
  return model.similarity(df["Word 1"], df["Word 2"])

In [7]:
df["pred"] = df.apply(calc_similarity, axis=1, result_type="expand")
df

           Word 1    Word 2  Human (mean)      pred
0            love       sex          6.77  0.263938
1           tiger       cat          7.35  0.517296
2           tiger     tiger         10.00  1.000000
3            book     paper          7.46  0.363463
4        computer  keyboard          7.62  0.396392
..            ...       ...           ...       ...
348        shower     flood          6.03  0.129479
349       weather  forecast          8.34  0.362721
350      disaster      area          6.25  0.145228
351      governor    office          6.34  0.296636
352  architecture   century          3.78  0.143093

[353 rows x 4 columns]

In [10]:
df["Human Rank"] = df["Human (mean)"].rank(ascending=False)
df["Pred Rank"] = df["pred"].rank(ascending=False)
df

           Word 1    Word 2  Human (mean)      pred  Human Rank  Pred Rank
0            love       sex          6.77  0.263938       143.5      164.0
1           tiger       cat          7.35  0.517296       109.5       38.0
2           tiger     tiger         10.00  1.000000         1.0        1.0
3            book     paper          7.46  0.363463        98.5       95.0
4        computer  keyboard          7.62  0.396392        82.0       81.0
..            ...       ...           ...       ...         ...        ...
348        shower     flood          6.03  0.129479       194.0      272.0
349       weather  forecast          8.34  0.362721        35.5       97.0
350      disaster      area          6.25  0.145228       181.5      256.0
351      governor    office          6.34  0.296636       173.5      142.0
352  architecture   century          3.78  0.143093       281.0      258.0

[353 rows x 6 columns]

In [11]:
from scipy.stats import spearmanr

correlation, pvalue = spearmanr(df["Human Rank"], df["Pred Rank"])
correlation

0.7000166486272194